.header_count{
    font-family: "Tempus Sans ITC";
    font-size: large ;
    color: cornflowerblue;
    font-weight: bold;
}

.header_title{
    /*font-family: "Tempus Sans ITC";*/
    /*font-size: large ;*/
    /*color: cornflowerblue;*/
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}

.custom_titled_header {
    padding: 1px;
    border-radius: 25px;
    /*background-color: white;*/
    /*border: 1px dashed white;*/
    /*box-shadow: 1px 1px 1px 1px #bdbdbd;*/
}

.card_header_title {
    width: 100%;
    text-align: center;
}

.editable-row .ant-form-item-explain {
    position: absolute;
    top: 100%;
    font-size: 12px;
}